---
title: This page is a .liquid file yes
subtitle: This page is written in a .liquid file
more: 
	info: "Some information"
	buttontext: "Go there"
---

<h1>{{ title }}</h1>
<p>{{ subtitle }}</p>
<p>here is: {{ more.info }}</p>
<p>Click this <button>{{ more.buttontext }}</button></p>
