---
title: Design Builder v0.1
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style type="text/css">
    html {
      height: 100%;
      margin: 0;
    }
      body {
        margin: 0;
        background-color: #eee;
        height: 100%;
      }
      .container {
        box-sizing: border-box;
        position: relative;
        max-width: 1000px;
        min-width: 320px;
        padding: 2em 2em;
        margin: 0 auto;
        font-family: sans-serif;
        color: #555566;
        background: #fff;
        height: 100%;
      }
      footer {
        text-align: center;
      }
      footer a{
        color: inherit;
        font-size: 80%;
      }
    </style>
  </head>
  <body>

    <div class="container">
      <header>
        <h1>{{ title }}</h1>
      </header>
      <main>
        {{ content | safe }}
      </main>
      <footer>
        <hr />
        <a href="https://github.com/ronnidc/design-builder">design-builder</a>
      </footer>
    </div>

  </body>
</html>
